*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{
    font-family:Arial, sans-serif;
    background-image:url("background.webp");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    padding:30px;
}

header{
    text-align:center;
    margin-bottom:30px ;
}
header h1{
    color:red;
}
.container{
    max-width:900px;
    margin:auto;
}
.search-section{
    display:flex;
    gap:15px;
    margin-bottom:20px ;
}
.search-section input , .search-section select{
    flex:1;
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    background-color:black;
    color:white;
}
.form-section{
    background:blue;
    padding:20px;
    margin-bottom:25px;
    border-radius:10px;

}
.form-section h2{
    margin-bottom:15px;
    color:black;
}
.form-section input{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ccc;
    border-radius:8px;
    color:white;
    background-color: black;
}
button{
    padding :12px 20px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
#addTaskBtn{
    background-color:#007bff;
    color:white;
}
#addTaskBtn:hover{
    opacity:0.8;
}
.tasks-section h2{
    margin-bottom:15px;
    color:red;

}
#taskcontainer{
    display:flex;
    flex-direction:column;
    gap:15px;
    color:red;
}
.task-card h3{
    margin-bottom:10px;
    color:red;
}
.task-card p{
    margin-bottom:8px;
    color:red;
}
.completed{
    text-decoration:line-through;
    opacity:0.7;
}

@media(max-width:600px){
    .search-section{
        flex-direction:column;
    }
}